/* Work Sans font from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Styles */

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: normal;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: #FF900E;
}

* {
    font-family: 'Work Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

/* Header Styles */
header {
    padding: 50px 250px;
    background-color: rgba(255, 144, 14, 0.10);
}
nav {
    display: flex;
    justify-content: space-between;
}
.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav > ul {
    display: flex;
}
nav li  {
    list-style: none;
    margin-right: 30px;
    font-size: 1.20rem;
    line-height: 28px;
    
}
nav li a {
    text-decoration: none;
    font-weight: 500;
    color: #242424;
}

/* Banner Content */
.banner-content {
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
}
.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    line-height: normal;
    padding: 0px 72px;
    margin-bottom: 20px;
}
.banner-description {
    color: #727272;
    font-size: 1.10rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
.banner img {
    width: 100%;
}
/* responsive media queries */
/* Mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 30px 20px;
    }
    nav {
        flex-direction: column;
    }
}
/* Tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px 30px;
    }
    nav {
        flex-direction: column;
    }
}

